@import url('https://fonts.cdnfonts.com/css/poppins');

@font-face{
	font-family:HappinessSans;
	src:url(../font/Happiness-Sans-Regular.woff) format("woff");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:HappinessSans;
	src:url(../font/Happiness-Sans-Bold.woff) format("woff");
	font-weight:700;
	font-style:normal
}